<!DOCTYPE html >

<html>
  <head>
    <meta charset="UTF-8">
    <meta name="Homepage" content="">
    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Helpster</title>
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/angular-toastr.css">
    <link rel="stylesheet" href="/styles/bootstrap.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->

  </head>
  <body ng-app="HomepageModule">
  <!--[if lt IE 7]>
  <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
  <![endif]-->

  <!-- Add your site or application content here -->

  <div class="">
    <div class="ui-base">


      <div ng-controller="HomepageController" class="login-page">

        <div class="row">

          <div class="col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4">
            <img src="images/flat-avatar.png" class="user-avatar" />
            <h1>Helpster</h1>
            <small class="small">Lets do some help!!!</small>
            <form role="form" ng-submit="submitLoginForm()">

              <div class="form-content">
                <div class="form-group">
                  <input type="text" ng-model= "loginForm.email" class="form-control input-underline input-lg" id=""  name="email" placeholder="Email">
                </div>

                <div class="form-group">
                  <input type="password" ng-model="loginForm.password" class="form-control input-underline input-lg" id="" name="password" placeholder="Password">
                </div>
              </div>
              <button type="submit" class="btn btn-white btn-outline btn-lg btn-rounded">
                <span ng-show="!loginForm.loading">Sign in</span>
                <span ng-show="loginForm.loading" class="fa fa-spinner"></span>
                <span ng-show="loginForm.loading">Signing in...</span>
              </button>

              <div  class="row">
                <a href="signup" class="btn btn-white btn-outline btn-lg btn-rounded">Sign up now!</a>
              </div>
            </form>


          </div>
        </div>

      </div>

    </div>



  <!--SCRIPTS-->
  <script src="/js/dependencies/sails.io.js"></script>
  <script src="/js/dependencies/angular.js"></script>
  <script src="/js/dependencies/angular-animate.js"></script>
  <script src="/js/dependencies/angular-mocks.js"></script>
  <script src="/js/dependencies/angular-toastr.js"></script>
  <script src="/js/dependencies/angular-ui-router.js"></script>
  <script src="/js/dependencies/compareTo.module.js"></script>
  <script src="/js/dependencies/toastr.js"></script>
  <script src="/js/public/homepage/HomepageModule.js"></script>
  <script src="/js/public/signup/SingupModule.js"></script>
  <script src="/js/private/DashboardModule.js"></script>
  <script src="/js/private/DashboardRoute.js"></script>
  <script src="/js/public/homepage/HomepageController.js"></script>
  <script src="/js/private/DashboardController.js"></script>
  <script src="/js/private/OverviewController.js"></script>
  <script src="/js/private/ReportController.js"></script>
  <script src="/js/public/signup/SignupController.js"></script>
  <!--SCRIPTS END-->
    </div>
  </body>
</html>
